<head>
  <link href="css/content/transaction.css" rel="stylesheet">

</head>

<div id="main">

<h3>New Attendant</h3>
<br>

<div id="divmain3">
<table>
  <thead>
      <div style="background-color: #2E8B57;width: 100%; height: 50px;">
         
      </div>
  </thead>
  <thead>
      <div style="background-color: #D3D3D3;width: 100%; height: 40px;"></div>
  </thead>
</table>
<div class="form2">
    <div class="table-responsive">
            <table class="table table-striped">
              
              <tbody>

                <tr>
                  <td>Hire Date</td>
                  <td></td>
                    <td>
                      <datepicker datepicker-class="class1" date-format="dd-MMMM-yyyy" >
                    <input class="input form-control" class="fillup" type="text" name="" placeholder="Hire Date" ng-model="attdatehired">
                    </datepicker>
                    </td>
                </tr>

                <tr>
                  <td>Name</td>
                  <td></td>
                  <td><input class="input form-control" type="text" name="" ng-model="attname" placeholder="Attendant's Name">
                  </td>
                </tr>

                  <tr>
                    <td>Allowance</td>
                    <td></td>
                    <td><input class="input form-control" type="text" name="" ng-model="attallowance" placeholder="Set Allowance">
                      </select>
                      </td>
                  </tr>

                  <tr>
                  <td>Mobile Number</td>
                    <td></td>
                      <td><input class="input form-control" type="text" name="" ng-model="attmobilenum" placeholder="Mobile Number">
                      </td>
                  </tr>

                  <tr>
                  <td>Position</td>
                    <td></td>
                      <td><input class="input form-control" type="text" name="" ng-model="attposition" placeholder="Position">
                      </td>
                  </tr>
                  
                  <tr>
                  <td>Address</td>
                    <td></td>
                      <td><input class="input form-control" type="text" name="" ng-model="attaddress" placeholder="Address">
                      </td>
                  </tr>
                
              </tbody>
            </table>
          </div>
  </div>
</div>
  <input class="input form-control btn-style" type="submit" name="" value="Confirm"
  style="position: relative;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 30% !important;" ng-click="confirm()">
</div>