<head>
  <link href="css/content/transaction.css" rel="stylesheet">
</head>

<h3>Delete-Member</h3>

<div class="div-content">
	<div class="form2">
		<div class="table-responsive">
            <table class="table table-striped">
              
              <tbody>

                <tr>
                  <td>Name</td>
                  <td></td>
                  <td><input class="input form-control" type="text" name=""></td>
                  
                </tr>

                <tr>
                  <td>Branch</td>
                  <td></td>
                  <td><input class="input form-control" type="text" name=""></td>
                  
                </tr>

                <tr>
                  <td>Info</td>
                  <td></td>
                  <td><textarea class="input form-control" id="area2"></textarea></td>
                  
                </tr>
                
                <tr>
                  <td></td>
                  <td></td>
                  <td><input class="input form-control" type="submit" name="" value="Delete"><input class="input form-control" type="submit" name="" value="Cancel"></td>
                  
                </tr>

                <tr>
                	<td></td>
                	<td></td>
                	<td>
                    <div class="alert alert-success" role="alert">
        			       <strong>Delete Successful!</strong><img src="img/check.png">
   					        </div>
                  </td>
                </tr>
                
              </tbody>
            </table>
            
          </div>

	</div>
	</div>